include README.md
include LICENSE
include pyproject.toml
include environment.yml
recursive-include src/structured_scraping *.py
recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
